@model Cumulative1.Models.Student

<div id="body-container">
    <h2>@Model.StudentFirstName @Model.StudentLastName</h2>
    <p>Student Id: @Model.StudentId</p>
    <p>Student Number: @Model.StudentNumber</p>
    <p>Enrol Date: @Model.StudentEnrolDate</p>
</div>