@model Cumulative1.Models.Teacher

<a href="/teacher/show?teacherid=@Model.TeacherId" >Go Back</a>
<form id="editForm" asp-action="Update" asp-route-id="@Model.TeacherId" method="post">
    <div>
        <label for="fname">First Name:</label>
        <input id="fname" type="text" asp-for="TeacherFirstName" value="@Model.TeacherFirstName">
        @* Error handling to check if first name is empty *@
        <span asp-validation-for="TeacherFirstName"></span>
    </div>
    <div>
        <label for="lname">Last Name:</label>
        <input id="lname" type="text" asp-for="TeacherLastName" value="@Model.TeacherLastName">
        <span asp-validation-for="TeacherLastName"></span>
    </div>
    <div>
        <label for="employeenumber">Employee Number:</label>
        <input type="text" asp-for="TeacherEmployeeNumber" value="@Model.TeacherEmployeeNumber">
        <span asp-validation-for="TeacherEmployeeNumber"></span>
    </div>
    <div>
        <label for="hiredate"></label>
        <input id="hiredate" type="date" name="teacherhiredate" value="@Model.TeacherHiredDate">
    </div>
    <div>
        <label for="salary">Salary:</label>
        <input id="salary" type="number" asp-for="TeacherSalary" value="@Model.TeacherSalary">
        <span asp-validation-for="TeacherSalary"></span>
    </div>
    <div>
        <label for="phonenumber">Phone number:</label>
        <input id="phonenumber" type="text" name="TeacherWorkPhone" value="@Model.TeacherWorkPhone">
    </div>
    <input type="submit" value="Submit">
</form>

@* Declares Scripts to run _ValidationScriptsPartial *@
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial");
}