@model IEnumerable<Cumulative1.Models.Teacher>


@foreach(Cumulative1.Models.Teacher Teacher in Model) {
    <div>
        <h2>@Teacher.TeacherFirstName @Teacher.TeacherLastName</h2>
        <a href="../Teacher/show?teacherId=@Teacher.TeacherId">Teacher ID: @Teacher.TeacherId</a>
        <p>Employee Number: @Teacher.TeacherEmployeeNumber</p>
        <p>Hired Date: @Teacher.TeacherHiredDate</p>
        <p>Salary: @Teacher.TeacherSalary</p>
    </div>
}