@model Cumulative1.Models.Teacher

<div>
    <h2>@Model.TeacherFirstName @Model.TeacherLastName</h2>
    <p>Teacher ID: @Model.TeacherId</p>
    <p>Employee Number: @Model.TeacherEmployeeNumber</p>
    <p>Hired Date: @Model.TeacherHiredDate</p>
    <p>Salary: $@Model.TeacherSalary</p>
    <div>
        @Model.TeacherCourses
    </div>
</div>